@import "variables";
@import "tooltip";

// mixins
.gradient-vertical-2(@color1, @color2, @stop1: 0%, @stop2: 100%) {
	background-color: mix(@color1, @color2, 1);
	background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: linear-gradient(to bottom, @color1 @stop1, @color2 @stop2);
}

.transition(@transition) {
	-moz-transition: @transition;
	-webkit-transition: @transition;
	transition: @transition;
}

.user-select(@value) {
	-webkit-touch-callout: @value;
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

.fit-content() {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}

.transform(@transform) {
	-moz-transform: @transform;
	-webkit-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

.plain-list() {
	list-style: none;
	margin: 0;
	padding: 0;
}

.eventline-container {
	position: relative;
	.eventline-info {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		font-weight: bold;
		text-shadow: 1px 1px 1px black, 2px 2px 1px lighten(@blueish, 20%);
		padding: 0 @gutter / 4;
		opacity: 0.7;
		.transition(opacity 150ms);
		&:hover {
			opacity: 1;
		}
	}
}

.eventline-legend {
	.plain-list();
	margin: 0 auto;
	.fit-content();
	text-align: center;
	.user-select(none);
	li {
		float: left;
		margin-right: @gutter;
		cursor: pointer;
		opacity: 0.75;
		.transition(opacity 150ms);
		&:hover {
			opacity: 1;
		}
		&.eventline-inactive {
			&, &:hover {
				opacity: 0.3;
			}
		}
		.eventline-category-color {
			width: 10px;
			height: 10px;
			border-radius: 2px;
			display: inline-block;
		}
		.eventline-category-label {
			display: inline-block;
			margin-left: @gutter / 4;
			position: relative;
			top: -1px;
			font-size: 14px;
		}
	}
}

.eventline-no-events {
	padding: @gutter;
	.eventline-message {
		color: @blueish;
		text-shadow: 2px 1px 1px fade(white, 70);
		font-size: 60px;
		font-family: @headerFont;
		font-weight: bold;
		text-align: center;
	}
}

.eventline-scrollable {
	overflow: auto;
	clear: left;
	padding: @gutter;
	.eventline-axis {
		.plain-list();
		position: relative;
		height: 40px;
		li {
			position: absolute;
			padding-top: @gutter;
			font-size: 18px;
			.eventline-axis-label {
				display: inline-block;
				color: white;
				text-shadow: 1px 1px 4px fade(white, 50);
				.transform(~"rotate(-45deg) translate(5px, -15px)");
			}
		}

		&.eventline-month {
			.eventline-axis-label {
				font-size: 14px;
			}
		}
	}

	.eventline-graph {
		clear: left;
		position: relative;
		.eventline-grid-lines {
			.plain-list();

			li {
				position: absolute;
				width: 1px;
				top: 0;
				background-color: fade(white, 10);
				height: 100%;
			}
		}

		.eventline-event {
			position: absolute;
			height: 10px;
			border-radius: 2px;
			opacity: .65;
			cursor: default;
			.transition(opacity 250ms);

			&:hover {
				opacity: 1;
			}

			&:after {
				position: relative;
				left: 100%;
				margin-left: 5px;
				content: attr(data-abbreviation);
				font-size: 12px;
				top: -8px;
				white-space: nowrap;
			}

			&.eventline-moment {
				border-radius: 5px;
				width: 5px;
				height: 5px;
				&:after {
					top: -10px;
				}
			}
		}
	}
}

.eventline-event-description {
	position: absolute;
	font-size: 12px;
	width: 280px;
	opacity: 1;
	box-shadow: 3px 3px 5px black;
	.eventline-title {
		color: white;
		font-size: 14px;
		border-bottom: 1px dotted fade(white, 20);
		font: @headerFont;
		font-weight: bold;
		text-shadow: 1px 1px 1px fade(white, 30);
		padding: @gutter / 4 0;
		margin-bottom: @gutter / 4;
	}
	p {
		text-align: left;
		color: @color;
		margin: 0;
	}
	time {
		width: 100%;
		font-size: 11px;
		color: @blueish;
	}
	p, time {
		padding: @gutter / 4;
	}
}

.eventline-info-popup {
	opacity: 1;
	top: 0;
	left: 0;
	text-align: center;
	box-shadow: 3px 3px 5px black;
	padding: 10px 5px;
	a {
		color: @blueish;
	}
}